body, html, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav{
  width: 100%;
  height: 70px;
  border-bottom: 1px solid lightblue;
  float: left;
  background-color: white;
  color: black;
}

.menu{
  margin-left: 30px;
}

  .menu span{
      float: left;
      font-size: 18px;
      line-height: 69px;
      margin-left: 20px;
      font-weight: bold;
  }
      span.blue{
          color: blue;
          opacity: 0.5;
      }

     
      
      .menu span.clicked a {
        color: rgb(108, 186, 212); /* Text color when clicked */
        transition: all ease-in-out 1s;
      }

      .clicked{
        color: blue; /* Example style */
        font-weight: bold;
      }

a{
  text-decoration: none!important;
}

.menu-profile{
  float: right;
  margin-right: 30px;
  line-height: 69px;
  font-size: 15px;
  font-weight: bold;
  width: 240px;
}
  .menu-profile span{
      float: right;
      margin-right: 10px;
  }

  .icon{
      width: 100%;
      height: 100%;
      background-size: 20px;
      background-position: center;
      background-repeat: no-repeat;
  }
      .icon.bell{
          background-image: url(../public/notification.svg);
          width: 30px;
          height: 30px;
          background-size: 25px;
          margin-top: 18px;
          float: left;
      }

      .icon.icon-profile{
          background-image: url(../public/boy.svg);
          width: 40px;
          height: 40px;
          background-size: 38px;
          margin-left: 25px;
          margin-top: 15px;
          float: left;
      }

      .data{
        float: left;
        background-color: rgb(232, 249, 255);
        width: 100%;
        height: calc(100% - 70px);
        overflow: auto;
    }
        .box{
            float: left;
            width: calc(25% - 37.5px);
            height: 170px;
            background-color: white;
            margin-left: 30px;
            margin-top: 20px;
        }
            
    
            .grey{
                color: grey;
                font-weight: bold;
                font-size: 16px;
                width:100%;
                height: 30px;
                line-height: 30px;
                margin-top: 10px;
                margin-left: 20px;
            }
    
                .grey > span {
                    float:left;
                    width:auto;
                }
    
                .grey > i {
                    float:left;
                }
    
            .money{
                width: calc(75% - 40px);
                float: left;
                margin-top: 30px;
                font-size: 36px;
                color: rgb(107, 107, 255);
                opacity: 1;
                font-weight: bold;
                margin-left: 20px;
            }
    
            .chart-box{
                width: 20%;
                margin-left: 15 px;
                margin-right: 5px;
                height: 60px;
                float: left;
                background-image: url(../public/bar-chart.svg);
                background-position: cover;
                background-repeat: no-repeat;
                margin-top: 20px;
            }
                .icon.arrow{
                    background-image: url(../public/arrows.svg);
                    width: 20px;
                    height: 20px;
                    margin-top: 3px;
                    margin-left: 5px;
                    background-size: 20px;
                    float: left;
                }


                .table-holder{
                  overflow: auto;
                  width: 100%;
                  float: left;
                  margin-top: 30px;
                  margin-bottom: 20px;
              }
              
                  .table{
                      width: calc(50% - 45px);
                      float: left;
                      height: 100%;
                      margin-left: 30px;
                      background-color: white;
                  }
                      .text-table{
                          margin-left: 20px;
                          margin-top: 20px;
                          font-size: 16px;
                          float: left;
                      }
                      table {
                          float: left;
                          width: 95%;
                          border-collapse: collapse;
                          margin-top: 20px;
                          margin-left: 2.5%;
                         
                      }
                              th, td {
                                  border: 1px solid lightgrey;
                                  padding: 10px;
                                  text-align: center;
                              }
                              th {
                                  background-color: lightgrey;
                              }
                              tr{
                                  background-color:white;
                              }

                              tfoot{
                                width: 100%;
                                  text-align: left;
                                  background-color: lightgrey;
                              }

                              tfoot td{
                                background-color: lightgrey;
                              }
              
                              .menu {
                                  display: block;
                                  position: relative;
                              }

                              .badge-waiting{                                
                                background-color: orange;
                                border-radius: 5px;
                                padding: 5px;
                                color: white;
                                font-size: 10px;
                                font-weight: bold;
                              }

                              .badge-failed{
                                background-color: red;
                                border-radius: 5px;
                                padding: 5px;
                                color: white;
                                font-size: 7px;
                                font-weight: bold;
                              }

                              .badge-paid{                               
                                background-color: rgb(4, 195, 4);
                                border-radius: 5px;
                                padding: 5px;
                                color: white;
                                font-size: 10px;
                                font-weight: bold;
                              }
  
/* Документи */
.invoices-nav{
  width: 100%;
  height: 70px;
  border-bottom: 1px solid lightblue;
  float: left;
  background-color: white;
  color: black;
}



.invoices-menu{
  margin-left: 40px;
  line-height: 70px;
}
.invoices-table {
  position: relative;
}

.invoices-table table {
  width: 95%;
  border-collapse: collapse;
}

.invoices-table thead, 
.invoices-table tfoot {
  background: #f9f9f9; /* Adjust as needed */
  position: sticky;
  z-index: 1;
}

.invoices-table thead {
  top: 0;
}

.invoices-table tfoot {
  bottom: 0;
}

.invoices-table tbody {
  display: block;
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto;
}

.invoices-table thead tr, 
.invoices-table tfoot tr, 
.invoices-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* Ensures columns align */
}

  .invoices-menu span{
      float: left;
      font-size: 14px;
      line-height: 70px;
      margin-left: 20px;
      font-weight: bold;
  }
      span.blue{
          color: blue;
          opacity: 0.5;
      }

        .left-menu{
          width: 270px;
          margin-left: 25px;
          height: 100%;
          float: left;
        }

          .left-menu-content{
            margin-top: 40px;
            float: left;
            width: 100%;
            height: 180px;
            border: 1px solid lightblue;
          }

          .content-header{
            float: left;
            width: 100%;
            height:40px;
            margin-top: 20px;
            margin-left: 10px;
            font-weight: bold;
            color: rgb(95, 95, 95);
          }

          .content{
            float: left;
            line-height: 40px;
            padding-left: 10px;
            width: calc(100% - 10px);
            color: black;
            background:white;
            font-size: 14px;
            border-bottom: 1px solid white;
            height: 40px;
            font-weight: bold;
            border-bottom:1px solid lightblue;
          }

          .content.selected {
            background-color: rgb(153, 153, 234);
            color:white;
          }
          

          .content-default{
            float: left;
            color: rgb(95, 95, 95);
            font-weight: bold;
            width: 96%;
            font-size: 14px;
            line-height: 40px;
            padding-left: 10px;
          }

          .content-default-1{
            float: left;
            padding: 5px;
            margin-top: 10px;
            margin-left: 0px;
            color: rgb(95, 95, 95);
            font-weight: bold;
            width: 94%;
            font-size: 14px;
            line-height: 40px;
            padding-left: 10px;
            border-radius: 5px;
            cursor: pointer;
            border: 1px solid lightblue;
            text-align: center;
          }
          .content-default-1 span{
              padding-left: 30px;
            }

      
          .invoices-main-content{
            width: calc(100% - 355px);
            font-size: 14px;
            float: left;
            height: 590px;
            border: 1px solid lightblue;
            margin-left: 40px;
            margin-top: 40px;
          }
          .invoices-main-content-2{
            width: 95%;
            font-size: 14px;
            float: left;
            height: 590px;
            border: 1px solid lightblue;
            margin-left: 40px;
            margin-top: 40px;
          }

          .main-content-header{
            float: left;
            width: 100%;
            height: 40px;
          }

            .header-Name{
              float: left;
              line-height: 40px;
              margin-left: 15px;
              margin-top: 5px;
              color: rgb(95, 95, 95);
              font-weight: bold;
            }

            .header-Number{
              float: left;
              line-height: 40px;
              margin-left: 2px;
              margin-top: 5px;
              color: rgb(95, 95, 95);
              font-weight: bold;
            }

            input{
              padding-left: 25px;
              float: right;
              width: 220px;
              margin-top: 12px;
              line-height: 26px;
              border-radius: 5px;
              border:1px solid grey;
            }

            .button-Add{
              float: right;
              line-height: 30px;
              margin-left: 10px;
              background-color: rgb(153, 153, 234);
              margin-top: 12px;
              border-radius: 5px;
              padding-left:10px;
              font-size: 12px;
              width: 180px;
              color: white;
              font-weight: bold;
            }
            .button-Add-2{
              float: right;
              line-height: 30px;
              margin-left: 10px;
              margin-right: 27px;
              background-color: rgb(153, 153, 234);
              margin-top: 12px;
              border-radius: 5px;
              padding-left:10px;
              font-size: 12px;
              width: 180px;
              color: white;
              font-weight: bold;
            }

            .btn-2{
              float: right;
              line-height: 30px;
              margin-left: 10px;
              margin-right: 20px;
              background-color: rgb(153, 153, 234);
              margin-top: 12px;
              border-radius: 5px;
              padding-left: 10px;
              font-size: 12px;
              font-weight: bold;
              width: 90px;
              color: white;
            }

            .images{
              float: left;
              margin-top: 22px;
              width: 30px;
              height: 50px;
            }
            .images.sales{  
              background-image: url(../public/cart.svg);
              background-size: 22px;
              background-repeat: no-repeat;
            }

            .images.package{
              background-image: url(../public/fast-delivery.svg);
              background-size: 22px;
              background-repeat: no-repeat;
              margin-top: 24px;
              margin-left: 15px;
            }

            .images.repeat{
              background-image: url(../public/undo.svg);
              background-size: 18px;
              background-repeat: no-repeat;
              margin-top: 24px;
              margin-left: 15px;
            }

            .images.mail{
              background-image: url(../public/email.svg);
              background-size: 20px;
              background-repeat: no-repeat;
              margin-top: 24px;
              margin-left: 15px;
            }

            .icon-add{
              background-image: url(../public/plus.svg);
              background-size: 16px;
              background-repeat: no-repeat;
              margin-top: 7px;
              margin-right: 7px;
              height: 20px;
              width: 20px;
              float: left;
            }

            .icon-up{
              background-image: url(../public/bars-graphic-with-ascendant-arrow.svg);
              background-size: 16px;
              background-repeat: no-repeat;
              margin-top: 7px;
              margin-right: 7px;
              height: 20px;
              width: 20px;
              float: left;
            }

            .search-holder{
              position: relative;
              float: right;
            }
            .icon-search{
              left: 5px;
              top: 12px;
              position: absolute;
              background-image: url(../public/search-interface-symbol.svg);
              background-size: 16px;
              background-repeat: no-repeat;
              margin-top: 7px;
              margin-right: 7px;
              height: 20px;
              width: 20px;
            }

            .icon-pen{
              background-image: url(../public/pen.svg);
              background-size: 16px;
              background-repeat: no-repeat;
              margin-top: 7px;
              margin-left: 5px;
              margin-right: 3px;
              height: 20px;
              width: 20px;
              float: left;
            }

            .icon-print{
              background-image: url(../public/printer.svg);
              background-size: 16px;
              background-repeat: no-repeat;
              margin-top: 7px;
              margin-right: 3px;
              height: 20px;
              width: 20px;
              float: left;
            }

            .icon-bag{
              background-image: url(../public/money.svg);
              background-size: 16px;
              background-repeat: no-repeat;
              margin-top: 7px;
              margin-right: 3px;
              height: 20px;
              width: 20px;
              float: left;
            }

            .icon-trash{
              background-image: url(../public/trash-bin.svg);
              background-size: 16px;
              background-repeat: no-repeat;
              margin-top: 7px;
              margin-right: 7px;
              height: 20px;
              width: 20px;
              float: left;
            }

            .icon-delete{
              background-image: url(../public/remove.svg);
              background-size: 30px;
              background-repeat: no-repeat;
              margin-top: 5px;
              margin-left: 20px;
              height: 30px;
              width: 30px;
              float: left;
            }


            .icon-work{
              background-image: url(../public/support.svg);
              background-size: 16px;
              background-repeat: no-repeat;
              margin-top: 7px;
              margin-right: 5px;
              height: 18px;
              width: 18px;
              float: left;
            }

            .icon-menu{
              background-image: url(../public/menu.svg);
              background-size: 20px;
              background-repeat: no-repeat;
              margin-top: 3px;
              margin-left: 10px;
              height: 20px;
              width: 20px;
              float: left;
            }

              .icon-trash-storage{
                background-image: url(../public/trash-bin.svg);
                background-size: 16px;
                background-repeat: no-repeat;
                margin-top: 10px;
                margin-right: 20px;
                height: 20px;
                width: 20px;
                float: right;
              }

            .icons{
              padding: 0;
            }

            .width-90{
              width: 90%;
            }



/* ViewInvoice */

  .fax-header{
    width: 100%;
    float: left;
    height: 200px;
    font-weight: bold;
  }
    .fax-name{
      width: 300px;
      float: left;
      margin-left: 50px;
      margin-top: 40px;
      font-size: 30px;
    }
      .fax-logo{
        background-color: black;
        float: right;
        width: 320px;
        height: 100px;
        margin-right: 200px;
        margin-top: 40px;
      }

  .fax-content-row{
      float: left;
      width: calc(50% - 40px);
      margin-left: 40px;
  }
    .row{
      float: left;
      width: 100%;
    }

    .fax-content-header{
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 30px;
     
    }

      .row-1{
        width: 30%!important;
        float: left!important;
        font-size: 12px;
        margin-bottom: 0px;
        margin-top: 10px;
       
      }
      .row-2{
        width: 70%!important;
        float: right!important;
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
      }


      .fax-content-right{
          float: left;
          width: calc(50% - 50px);
          margin-right:50px;
        
      }
               
      
      .fax-table{
        font-size: 12px;
      }

      .bold{
        font-weight: bold;
      }

      .bold-right{
        font-weight: bold;
        text-align: right;
      }

      .bold-left{
        font-weight: bold;
        text-align:left;
      }

      .reciever{
        float: left;
        margin-left: 40px;
        margin-top: 100px;
        font-size: 12px;
      }

      .owner{
        float: right;
        font-size: 12px;
        margin-right: 40px;
        margin-top: 100px;
      }
      .shifer{
        float: right;
        margin-top: 100px;
        margin-right: 40px;
        font-size: 12px;
      }

      .fax-row-holder{
        float: left;
        width: 100%;
      }

      @media print{
        .nav{
          display: none;
        }

      }


      footer{
        float: left;
        width: 100%;
      }

/* AddOutgoingInvoice */

.add-fax-holder{
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 30px);
  background-color: white;
  border-radius: 5px;
  border: 1px solid grey;
}
  .add-fax-header{
    width: 100%;
    height: 40px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  

  .input-holder{
    float: left;
    width: 100%;
    height: auto;
  }

    .addItem-holder{
      float: left;
      width: 100%;
      height: 230px;
    }
    .input-holder input{
      float: left;
    }

    .label-holder{
      float: left;
      width: 100%;
      margin-left: 22px;
    }

    .label-holder span{
      margin-left: 20px;
    }

     .row{
      width: calc(100% - 40px);
      margin-left: 20px;
      float: left;
     }

     .input-row{
      float: left;
      width: 100% !important;
     }

     .row span{
      width: 100%;
      float: left;
     }

     .input-label{
      padding-left: 0;
      
     }

     select{
      width: 100%;
      float: left;
      width: calc(100% - 20px);
      padding-left: 0px;
      height: 30px;
      margin-top: 11px;
     }
.col-1 {width: calc(8.33% - 2px) !important;}
.col-2 {width: calc(16.66% - 2px) !important;}
.col-3 {width: calc(25% - 2px) !important;}
.col-4 {width: calc(33.33% - 2px) !important;}
.col-5 {width: calc(41.66% - 2px) !important;}
.col-6 {width: calc(50% - 2px) !important;}
.col-7 {width: calc(58.33% - 2px) !important;}
.col-8 {width: calc(66.66% - 2px) !important;}
.col-9 {width: calc(75% - 2px) !important;}
.col-10 {width: calc(83.33% - 2px) !important;}
.col-11 {width: calc(91.66% - 2px) !important;}
.col-12 {width: calc(100% - 2px) !important;}


.footer{
  width: 100%;
  height: 68px;
  margin-top: 45px;
  float: left;
  background-color: lightgrey;
}

.btn-back{
  float: right;
  padding: 10px;
  padding-left: 20px;
  margin-top: 12px;
  margin-right: 40px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 60px;
}

.btn-add{
  float: right;
  margin-top: 12px;
  margin-right: 30px;
  background-color: lightblue;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  width: 80px;
  cursor: pointer;
}


.btn-addAndPrint{
  float: right;
  margin-top: 12px;
  margin-right: 40px;
  background-color: lightblue;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  width: 150px;
}

/* AddClients */

.add-clients-header{
  float: left;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid grey;
}
  .add-clients-header span{
    line-height: 50px;
    margin-left: 20px;
    font-weight: bold;
  }
.add-input-holder{
  width: 100%;
  float: left;
}
  .add-input-row{
    float: left;
    height: 100%;
    width: 100%;
  }
  .add-input-row input{
    float: left;
    margin-left: 30px;
    height: 40px;
  }

  .add-input-name{
    float: left;
    width: 100%;
    margin-left: 30px;
    margin-top: 20px;
  }

  .add-input-btns{
    float: left;
    width: 100%;
  }
    .add-input-cancel{
      float: right;
      background-color: lightgrey;
      padding: 10px;
      border-radius: 5px;
      margin-right: 10px;
      margin-top: 50px;
    }

    .add-input-add{
      float: right;
      background-color: rgb(58, 105, 199);
      color: white;
      padding: 10px;
      border-radius: 5px;
      margin-right: 20px;
      margin-top: 50px;
    }


/* PrintOffers */
.offer{
  float: left;
  color: black;
  font-size: 20px;
  margin-left: calc(50% - 80px);
  margin-top: 20px;
  width: 100%;
  height: 40px;
  font-weight: bold;
}

.print-offers-header{
  float: left;
  background-color: black;
  width: 100%;
  height: 250px;
}

.row-offer{
  margin-top: 30px;
  color: rgb(0, 132, 255);
  font-size: 18px;
  font-weight: bold;
}

.row-offer-1{
  font-size: 16px;
  font-weight: 500;
}
.row-offer-2{
  font-size: 16px;
  font-weight: 500;
}
.row-offer-3{
  font-size: 16px;
  font-weight: 500;
}
.row-offer-4{
  font-size: 12px;
  color: rgb(107, 133, 228);
  font-weight: bold;
}

.print-offers-content{
  float: left;
  width: 40%;
  margin-left: 40px;
}

.print-offers-row{
  float: left;
  margin-left: 40px;
}

.sum-offers-row{
  float: right;
  margin-right: 30px;
  margin-top: 30px;
}

.sum-offers-content{
  float: right;
  width: 13%;
}

.print-offers-row-2{
  float: left;
  margin-left: 300px;
}

.autograph{
  float: left;
  width: 40%;
  margin-left: 100px;
  margin-top: 50px;
  height: 200px;
}

.autograph-name{
  float: left;
  height: 40px;
  line-height: 40px;
  width: 100%;
  background-color: black;
  color: white;
}

.autograph-name span{
  margin-left: 15px;
}

.autograph-sign{
  background-color: lightgrey;
  width: 100%;
  float: left;
  height: 150px;
}

.sums{
  float: right;
  margin-top: 50px;
  margin-right: 100px;
}

.offer-price{
  float: right;
  margin-bottom: 10px;
  font-weight: bold;
}

.off-p{
  float: right;
  margin-left: 40px;
  background-color: black;
  color: white;
  padding: 10px;
}

.offer-footer{
  background-color: rgb(68, 164, 255);
  color: white;
  width: calc(100% - 55px);
  float: left;
  height: 80px;
  margin-left: 30px;
  margin-top: 20px;
}

.offer-footer span{
  float: left;
  width: 100%;
  font-size: 12px;
  margin-left: 10px;
}

/* addOffer */

.add-offer-menu{
  float: left;
  width: 100%;
}

.offer-info{
  float: left;
  width: 100%;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 20px;
  cursor: pointer;
}

.offer-info span{
  background-color: lightblue;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

/* StoreHouse */

.images.boxes{  
  background-image: url(../public/boxes.svg);
  background-size: 22px;
  background-repeat: no-repeat;
}

.images.box{  
  background-image: url(../public/box.svg);
  background-size: 22px;
  height: 30px;
  background-repeat: no-repeat;
}

.left-menu-storeHouse{
  margin-top: 40px;
  float: left;
  width: 100%;
  height: 140px;
  border: 1px solid lightblue;
}


.button-Add-storage{
  float: left;
  line-height: 30px;
  margin-top: 100px;
  margin-left: 31%;
  margin-right: 27px;
  background-color: rgb(153, 153, 234);
  margin-top: 12px;
  border-radius: 5px;
  padding-left:10px;
  font-size: 12px;
  width: 180px;
  color: white;
  font-weight: bold;
}

.storage input{
  float: left;
  margin-left: 120px;
}

.storage{
  width: 500px;
  height: 100px;
  position: absolute;
  left: 35%;
  margin-top: 200px;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: rgba(156, 225, 248, 0.803);
}

/* modal */

  .modal-holder {
    display: block; /* Hidden by default */
    position: fixed;
    z-index: 2000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.765); /* Black w/ opacity */
  }

  .modal{
    position: fixed;
    background-color: rgb(39, 36, 90);
    left: 25%;
    top: 25%;
    width: 1000px;
    height: 400px;
    border: 2px solid rgb(0, 174, 232);
    border-radius: 10px;
  }

  .close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }

  .file-title {
    float: left;
    width: 100%;
    margin-top: 30px;
}


.file-input {
    display: none;
}
.file-label {
    float: left;
    width: 100px;
    height: 90px;
    cursor: pointer;
    background: url('../public/open-folder.png');
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: hwb(0 91% 9%);
    border-radius: 5px;
}

.file-p{
  float: left ;
  width: 100px;
  height: 100px;
}

